.hero {
    padding-top: 100px;
    margin-bottom: 50px;
    
    &__main {
        display: flex;
        padding: 30px 20px;
        background-color: #F3F3F3;
    }

    &__photo {
        padding: 0 20px;

        img {
            width: 250px;
            border-radius: 50%;
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 480px) {
    .hero {
        padding-top: 0;

        &__main {
            display: block;
        }

        &__photo,
        &__desc {
            width: 90%;
        }

        &__desc {
            align-items: center;
        }
    }
}
